.form-container{
  margin: 10%;
  border-style: solid;
  border-radius: 1em;
  border-width: 1px;
  border-color: #efeff0;
  box-shadow: 0px 5px 30px -6px rgba(0,0,0,0.2);
  z-index: 500;
}
.form-container button {
  margin-bottom: 2em;
}

label {
  margin-top: 5% !important;
}

.coaf-form {
  margin-top: 5em;
  text-align:center;
}

.coaf-form .field {
  margin: auto !important;
}
