<div class="ui secondary pointing menu">
  <a class="item" routerLink="home">
    Home
  </a>
  <a *ngIf="user !== '0' && user !== '1'" class="item" routerLink="register/sp">
    Register
  </a>
  <a *ngIf="user === '1'" class="item" routerLink="action/csd">
    Service Providers
  </a>
  <a *ngIf="user !== '0' && user !== '1'" class="item" routerLink="action/sp">
    Beneficial Owners
  </a>
  <div class="right menu">
    <div class="ui item">
      <select class="ui fluid search dropdown" name="Information" [(ngModel)]="user" (change)="switchUser($event)">
        <option value="0">Issuer - Node 0</option>
        <option value="1">CSD - Node 1</option>
        <option value="3">SP1 - Node 3</option>
        <option value="4">SP2 - Node 4</option>
      </select>
    </div>
  </div>
</div>
<div *ngIf="COAF" class="ui tertiary inverted blue segment" id="coaf-banner">
  <div class="item centered" *ngIf="COAF">
    <a style="color: white" (click)="clearCOAF()">
      COAF: {{ divService.getCOAF() }}
      &nbsp;
      &nbsp;
      <i class="window close icon"></i>
    </a>
  </div>
</div>
