<div class="form-container">
    <form class="ui form centered grid">
        <div class="row">
            <div class="center aligned column">
                <div></div>
                <h1 *ngIf="type === 'read'">Dividend Option Overview</h1>
                <h1 *ngIf="type === 'update'">Dividend Option Update</h1>
                <h1 *ngIf="type === 'create'">Dividend Option Create</h1>
            </div>
        </div>
        <div class="ui divider"></div>
        <div class="centered row">
            <div class="six wide aligned column">
                <h4>Event Details</h4>
            </div>
        </div>
        <div class="row">
            <div class="six wide aligned column">
                <div class="field">
                    <label>COAF Reference:</label>
                </div>
            </div>
            <div class="six wide aligned column">
                <div class="field">
                    <input type="text" [(ngModel)]="dividend.COAF" name="COAF_Reference" [disabled]="basic_disabled"/>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="six wide aligned column">
                <div class="field">
                    <label>Choice:</label>
                </div>
           </div>
            <div class="six wide aligned column">
                <div class="field" *ngIf="type !== 'create'">
                    <input type="text" [(ngModel)]="dividend.Choice" name="Choice" [disabled]="basic_disabled"/>
                </div>
                <div class="field" *ngIf="type === 'create'">
                    <select class="ui fluid search dropdown" name="Choice" [(ngModel)]="dividend.Choice">
                        <option value=''>Select choice</option>
                        <option value="MAND">MAND</option>
                        <option value="VOLU">VOLU</option>
                    </select>
                </div>
           </div>
        </div>
        <div class="row">
            <div class="six wide aligned column">
                <div class="field">
                    <label>Information:</label>
                </div>
            </div>
            <div class="six wide aligned column">
                <div class="field" *ngIf="type !== 'create'">
                    <input type="text" [(ngModel)]="dividend.Information" name="Information" [disabled]="basic_disabled"/>
                </div>
                <div class="field" *ngIf="type === 'create'">
                    <select class="ui fluid search dropdown" name="Information" [(ngModel)]="dividend.Information">
                        <option value=''>Select Information</option>
                        <option value="COMP">COMP</option>
                        <option value="COMU">COMU</option>
                        <option value="ENTL">ENTL</option>
                        <option value="PREC">PREC</option>
                        <option value="PREU">PREU</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="six wide aligned column">
                <div class="field">
                    <label>ISIN:</label>
                </div>
            </div>
            <div class="six wide aligned column">
                <div class="field">
                    <input type="text" [(ngModel)]="dividend.ISIN" name="ISIN" [disabled]="basic_disabled"/>
                </div>
            </div>
        </div>
        <div class="ui divider" *ngIf="type !== 'create'"></div>
        <div class="centered row" *ngIf="type !== 'create'">
            <div class="six wide aligned column">
                <h4>Status</h4>
            </div>
        </div>
        <div class="row" *ngIf="type !== 'create' && !status.divOptAnnounced">
            <div class="six wide aligned column">
                <div class="field">
                    <label style="color: red">Not yet announced</label>
                </div>
            </div>
        </div>
        <div class="row" *ngIf="type !== 'create' && status.divOptAnnounced">
            <div class="six wide aligned column">
                <div class="field">
                    <label>Announced on</label>
                </div>
            </div>
            <div class="six wide aligned column">
                <div class="field">
                    <label>{{status.announcedTime}}</label>
                </div>
            </div>
        </div>
        <div class="row" *ngIf="type !== 'create' && !status.divOptExecuted">
            <div class="six wide aligned column">
                <div class="field">
                    <label style="color: red">Not yet executed</label>
                </div>
            </div>
        </div>
        <div class="row" *ngIf="type !== 'create' && status.divOptExecuted">
            <div class="six wide aligned column">
                <div class="field">
                    <label>Executed on</label>
                </div>
            </div>
            <div class="six wide aligned column">
                <div class="field">
                    <label>{{status.executedTime }}</label>
                </div>
            </div>
        </div>
        <div class="ui divider"></div>
        <div class="centered row">
            <div class="six wide aligned column">
                <h4>Cash option</h4>
            </div>
        </div>
        <div class="row">
            <div class="six wide aligned column">
                <div class="field">
                    <label>Dividend/Share [$]</label>
                </div>
            </div>
            <div class="six wide aligned column">
                <div class="field">
                    <input type="number" min="0" [(ngModel)]="dividend.divPerShare" name="Dividend" [disabled]="disabled"/>
                </div>
            </div>
        </div>
        <div class="ui divider"></div>

        <div class="centered row">
            <div class="six wide aligned column">
                <h4>Security option</h4>
            </div>
        </div>
        <div class="row">
            <div class="six wide aligned column">
                <div class="field">
                    <label>Minimum amount of shares</label>
                </div>
            </div>
            <div class="six wide aligned column">
                <div class="field">
                    <input type="number" min="0" placeholder="minimum amount of shares"
                           [(ngModel)]="dividend.minShares" name="minShares" [disabled]="disabled"/>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="six wide aligned column">
                <div class="field">
                    <label>For every</label>
                </div>
            </div>
            <div class="six wide aligned column">
                <div class="field">
                    <input type="number" min="0" placeholder="shares held"
                           [(ngModel)]="dividend.holdShares" name="divMult" [disabled]="disabled"/>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="six wide aligned column">
                <div class="field">
                    <label>You get</label>
                </div>
            </div>
            <div class="six wide aligned column">
                <div class="field">
                    <input type="number" min="0" placeholder="amount of new shares"
                           [(ngModel)]="dividend.getShares" name="NewShares" [disabled]="disabled"/>
                </div>
            </div>
        </div>
        <div class="ui divider"></div>
            <div class="row" *ngIf="type === 'create'">
                <div class="center aligned column">
                    <button class="ui button red" type="submit"(click)="CreateDividend()">Create Smart Contract</button>&nbsp;&nbsp;
                </div>
            </div>
             <div class="row" *ngIf="type === 'update'">
                <div class="center aligned column">
                    <button class="ui button red" (click)="Announce()" [disabled]="status.divOptAnnounced">Announce</button>&nbsp;&nbsp;
                    <button class="ui button red" type="submit" (click)="UpdateDividend()" [disabled]="!status.divOptAnnounced || status.divOptExecuted">Update</button>&nbsp;&nbsp;
                    <button class="ui button red" (click)="Execute()" [disabled]="!status.divOptAnnounced || status.divOptExecuted">Execute</button>&nbsp;&nbsp;
                </div>
            </div>
    </form>
</div>
